<button class="bt-menu">
    <i class="fa-solid fa-bars"></i>
</button>

<nav class="menu-left">
    <ul>
        <li><a href="./index.html"><i class="fa-regular fa-house"></i>Pagina Inicial</a></li>
        <li><a href=".pages/sorteador.html"><i class="fa-solid fa-clover"></i>Sorteador</a></li>
        <li><a href="./pages/calculos.html"><i class="fa-solid fa-calculator"></i>Calculos</a></li>
        <li><a href="./pages/sobre.html"><i class="fa-regular fa-address-card"></i>Sobre</a></li>
    </ul>
</nav>